<mat-card class="contact-card">
  <mat-card-header>
    <mat-card-title>Contato</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="contact-content">
      <!-- Seção de Contato -->
      <div class="contact-info">
        <div class="contact-item">
          <mat-icon>location_on</mat-icon>
          <div class="contact-text">
            <h4>Endereço</h4>
            <p>Rua Exemplo, 123, Cidade, Estado, País</p>
          </div>
        </div>

        <div class="contact-item">
          <mat-icon>phone</mat-icon>
          <div class="contact-text">
            <h4>Telefone</h4>
            <p>(00) 1234-5678</p>
          </div>
        </div>

        <div class="contact-item">
          <mat-icon>email</mat-icon>
          <div class="contact-text">
            <h4>E-mail</h4>
            <p>contato@exemplo.com</p>
          </div>
        </div>

        <div class="contact-item">
          <mat-icon>public</mat-icon>
          <div class="contact-text">
            <h4>Website</h4>
            <a href="https://www.exemplo.com" target="_blank">www.exemplo.com</a>
          </div>
        </div>

        <div class="contact-item">
          <mat-icon>facebook</mat-icon>
          <div class="contact-text">
            <h4>Redes Sociais</h4>
            <a href="https://www.facebook.com/exemplo" target="_blank">Facebook</a>
            <a href="https://www.instagram.com/exemplo" target="_blank">Instagram</a>
          </div>
        </div>
      </div>

      <!-- Seção FAQ -->
      <div class="faq-container">
        <div class="faq-item">
          <h2> Perguntas Frequentes</h2>
          <input type="checkbox" id="faq1" class="faq-checkbox">
          <label for="faq1" class="faq-question">Como agendar um serviço?</label>
          <div class="faq-answer">
            Para agendar um serviço, você pode entrar em contato conosco pelo telefone ou e-mail disponíveis na seção de contato do nosso site.
          </div>
        </div>
        <div class="faq-item">
          <input type="checkbox" id="faq2" class="faq-checkbox">
          <label for="faq2" class="faq-question">Quais serviços vocês oferecem?</label>
          <div class="faq-answer">
            Oferecemos uma variedade de serviços, incluindo instalação e manutenção de chuveiros elétricos, tomadas, interruptores, sensores de iluminação, fiação elétrica, luminárias, sistemas de automação residencial, e muito mais.
          </div>
        </div>
        <div class="faq-item">
          <input type="checkbox" id="faq3" class="faq-checkbox">
          <label for="faq3" class="faq-question"></label>
          <div class="faq-answer">
            
          </div>
        </div>
      </div>
    </div>
    
    <!-- Seção de Mapa -->
    <div class="map-container">
      <iframe src="https://www.google.com/maps/embed?pb=...seu-link-aqui..." allowfullscreen="" loading="lazy"></iframe>
    </div>
  </mat-card-content>
</mat-card>
