<div class="container-sobre">
<div class="container py-5" id="sobre">
  <div class="row">
    <div class="col-lg-6">
      <img src="assets/img/1.jpg" class="img-fluid" alt="Ilustração Elétrica">
    </div>
    <div class="col-lg-6">
      <h2>Sobre Nós</h2>
      <p>
        A Nova - Serviços Elétricos é uma empresa recém-fundada dedicada a oferecer serviços elétricos de alta qualidade para clientes residenciais e comerciais. Com a ambição de se destacar no mercado, estamos focados em proporcionar segurança, eficiência e satisfação em cada serviço prestado. Nossa missão é proporcionar soluções elétricas inovadoras e confiáveis, sempre focando na satisfação do cliente e na excelência em cada serviço prestado. Buscamos nos atualizar constantemente com as últimas tecnologias e métodos do setor para oferecer o que há de melhor em termos de instalações, manutenções e projetos elétricos.
      </p>
    </div>
  </div>
</div>
</div>