<h2>Nossos Serviços</h2>

<div class="card-container">
  <div class="card text-bg-dark">
    <img src="assets/img/chuve.jpg" class="card-img" alt="Chuveiro Elétrico">
    <div class="card-img-overlay">
      <h5 class="card-title">Instalação e Manutenção de Chuveiros Elétricos</h5>
      <p class="card-text">Oferecemos serviços especializados na instalação e manutenção de chuveiros elétricos, garantindo segurança e eficiência.</p>
    </div>
  </div>

  <div class="card text-bg-dark">
    <img src="assets/img/tomada.jpg" class="card-img" alt="Tomadas e Interruptores">
    <div class="card-img-overlay">
      <h5 class="card-title">Instalação e Reparo de Tomadas e Interruptores</h5>
      <p class="card-text">Especialistas em instalação e reparo de tomadas e interruptores, assegurando funcionamento seguro e eficaz.</p>
    </div>
  </div>

  <div class="card text-bg-dark">
    <img src="assets/img/qd.jpg" class="card-img" alt="Fiação Elétrica">
    <div class="card-img-overlay">
      <h5 class="card-title">Instalação e Substituição de Fiação Elétrica</h5>
      <p class="card-text">Realizamos instalação e substituição de fiação elétrica para garantir a segurança e a eficiência elétrica da sua residência ou empresa.</p>
    </div>
  </div>

  <div class="card text-bg-dark">
    <img src="assets/img/smart.jpg" class="card-img" alt="Automação Residencial">
    <div class="card-img-overlay">
      <h5 class="card-title">Instalação e Manutenção de Sistemas de Automação Residencial</h5>
      <p class="card-text">Oferecemos soluções de automação residencial para otimizar e modernizar sua casa com tecnologia de ponta.</p>
    </div>
  </div>

  <div class="card text-bg-dark">
    <img src="assets/img/camera.jpg" class="card-img" alt="Sistemas de Segurança">
    <div class="card-img-overlay">
      <h5 class="card-title">Instalação e Manutenção de Sistemas de Segurança (alarmes, câmeras, etc.)</h5>
      <p class="card-text">Instalamos e mantemos sistemas de segurança para proteger sua casa ou empresa com tecnologia confiável e eficiente.</p>
    </div>
  </div>

  <div class="card text-bg-dark">
    <img src="assets/img/plan.jpg" class="card-img" alt="Inspeções Elétricas">
    <div class="card-img-overlay">
      <h5 class="card-title">Inspeções Elétricas e Laudos Técnicos</h5>
      <p class="card-text">Realizamos inspeções elétricas detalhadas e fornecemos laudos técnicos para garantir a conformidade e a segurança elétrica.</p>
    </div>
  </div>
</div>
